<div class="container margnContain innerpageminheight">
    <div class="container-fluid">
        <div class="card card-m-btm">
            <div class="card-header">
                Create Citation
            </div>
        
            <div class="body">
                <div class="form-horizontal">
                    <div class='form-line text-right'>
                        <div class='form-error'>
                            Fields marked with '*' are mandatory
                        </div>
                    </div>
                    <form [formGroup]="fgCitation" (submit)="onSubmit()">
                        <div class="col-md-12 text-center">
                            <div class="form-error" style="display:none;" id="divMessage">
                                {{message}}
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                     <label>Project Name<span class="text-danger">*</span></label>
                                      <input type="text" formControlName="projectName" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && cu.projectName.errors }" />
                                        <div *ngIf="submitted && cu.projectName.errors" class="invalid-feedback">
                                            <div *ngIf="cu.projectName.errors.required">Project Name is required</div>
                                            <div *ngIf="cu.projectName.errors.pattern">Project Name is invalid!</div>
                                            <div *ngIf="cu.projectName.errors.minlength">Project Name. should be minimum 6 characters</div>
                                        </div>
                                      
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Client Name<span class="text-danger">*</span></label>
                                    <input type="text" formControlName="clientName" maxlength="60" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && cu.clientName.errors }" />
                                        <div *ngIf="submitted && cu.clientName.errors" class="invalid-feedback">
                                        <div *ngIf="cu.clientName.errors.required">Clinet Name is required</div>
                                        <div *ngIf="cu.clientName.errors.pattern">Clinet Name is invalid!</div>
                                        <div *ngIf="cu.clientName.errors.minlength">Client Name. should be minimum 6 characters</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Start Date<span class="text-danger">*</span></label>
                                   <!-- <input type="date" formControlName="startDate" maxlength="30" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && cu.startDate.errors }" />
                                        <div *ngIf="submitted && cu.startDate.errors" class="invalid-feedback">
                                        <div *ngIf="cu.startDate.errors.required">Project Start Date is required</div>
                                        </div>-->
                                      
                                            <input class="form-control" [matDatepicker]="picker" formControlName="startDate"/>
                                            <mat-datepicker-toggle matSuffix [for]="picker" class="form-date"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #picker></mat-datepicker>
                                            <div *ngIf="submitted && cu.startDate.errors" class="invalid-feedback">
                                                <div *ngIf="cu.startDate.errors.required">Project Start Date is required</div>
                                                </div>
                                         
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project End Date<span class="text-danger">*</span></label>
                                     
                                     <input class="form-control" [matDatepicker]="picker1" formControlName="endDate"  [ngClass]="{ 'is-invalid': submitted && cu.endDate.errors }" />
                                     <mat-datepicker-toggle matSuffix [for]="picker1" class="form-date"></mat-datepicker-toggle>
                                     <mat-datepicker touchUi #picker1></mat-datepicker>
                                        <div *ngIf="submitted && cu.endDate.errors" class="invalid-feedback">
                                        <div *ngIf="cu.endDate.errors.required">Project End Date is required</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="col-md-6">
                            
                                    <div class="form-group">
                                        <label>Valuation<span class="text-danger">*</span></label>

                                
                                            <input type="text" formControlName="projectValue" class="form-control"
                                            [ngClass]="{ 'is-invalid': submitted && cu.projectValue.errors }" />
                                            <div *ngIf="submitted && cu.projectValue.errors" class="invalid-feedback">
                                                <div *ngIf="cu.projectValue.errors.required">Valuation is required</div>
                                                <div *ngIf="cu.projectValue.errors.pattern">Valuation is invalid!</div>
                                                <div *ngIf="cu.projectValue.errors.minlength">Valuation should be minimum 6 digits</div>
                                                </div>

                                    </div>
                                

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Currency<span class="text-danger">*</span></label>
                                    <select class="form-control" [ngClass]="{ 'is-invalid': submitted && cu.currency.errors }"
                                        formControlName="currency">
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let c of currencies" [value]="c.valueId">{{c.description}}
                                        </option>
                                    

                                    </select>
                                    <div *ngIf="submitted && cu.currency.errors" class="invalid-feedback">
                                        <div *ngIf="cu.currency.errors.required">Currency is required</div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">


                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Region</label>
                                    <select class="form-control"
                                        formControlName="region">
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let r of regions" [value]="r.valueId">{{r.description}}
                                        </option>


                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control"
                                        formControlName="country">
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let c of countries" [value]="c.countryId">{{c.name}} </option>



                                    </select>
                                </div>
                            </div>
                        </div>
                            <div class="row">  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Funding Agency</label>
                                    <select class="form-control"
                                    
                                        formControlName="fundingAgency">
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let f of fundingAgencies" [value]="f.fundingAgencyId">{{f.name}}
                                        </option>



                                    </select>
                                </div>
                            </div>
                        
                            
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label>Is network firm oppotunity?</label>
                                        </div>
                                    
                                        <div class="form-control" style="margin-left: 5%;">
                                            <input type="checkbox"
                                                
                                                formControlName="isNetworkFirmOpportunity">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>


                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Sub-SBU</label>
                                    <select class="form-control" 
                                        formControlName="subSbu" (change)="onChangeSubSbu($event)">
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let s of subSbus" [value]="s.subSBUId">{{s.name}} </option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Project Type</label>
                                    <select class="form-control"
                                        
                                        formControlName="projectType">
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let p of projectTypes" [value]="p.projectTypeId">{{p.name}} </option>



                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Lead Firm Country</label>
                                    <select class="form-control"
                                        
                                        formControlName="leadFirmCountry">
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let c of countries" [value]="c.countryId">{{c.name}} </option>



                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="label-alignment">PwC India Value<span class="text-danger">*</span></label>

                                        <input type="number" class="form-control quantity  label-alignment" maxlength="10" id="ContactNumber"
                                            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                            formControlName="pwcIndiaValue"
                                            [ngClass]="{ 'is-invalid': submitted && cu.pwcIndiaValue.errors }" />

                                            <div *ngIf="submitted && cu.pwcIndiaValue.errors" class="invalid-feedback">
                                                <div *ngIf="cu.pwcIndiaValue.errors.required">PwC India Value is required</div>
                                                </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Architecture Type</label>
                                    <input type="text" formControlName="architechtureType"  class="form-control"/>
                                     
                               </div>
                              
                             </div>  
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Technology</label>
                                    <div class="label_checkbox" *ngFor="let technology of technologies" >
                                        <mat-checkbox class="example-margin" 
                                        (change)="onChangeTechnology($event)" [value]="technology.valueId">{{technology.description}}</mat-checkbox>
                                    </div>
                               </div>
                            
                             </div>
                             <div class="col-md-6">
                                <div class="form-group">
                                    <label>Domain Name</label>
                                    <div *ngFor="let domain of domainnames" >
                                        <mat-checkbox class="example-margin" 
                                        (change)="onChangeDomain($event)" [value]="domain.valueId">{{domain.description}}</mat-checkbox>
                                    </div>
                               </div>
                              
                             </div>
                           
                              
                        </div>
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>Document Type<span class="text-danger">*</span></label>
                                    <select class="form-control" #documentType
                                        [ngClass]="{ 'is-invalid': submitted && cu.documentType.errors }"
                                        formControlName="documentType"  (change)="attachmentSelection($event)" >
                                        <option value="" disabled selected hidden>Select</option>

                                        <option *ngFor="let d of documentTypes; let i=index;" [value]="d.valueId">{{d.description}} </option>

                                    </select>
                                    <div *ngIf="submitted && cu.documentType.errors" class="invalid-feedback">
                                        <div *ngIf="cu.documentType.errors.required">Document Type is required</div>
                                        </div>    
                                </div>
                            </div>                              
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>Document Name<span class="text-danger">*</span></label>
                                    <input type="text" formControlName="documentName"  class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && cu.documentName.errors }" />
                                        <div *ngIf="submitted && cu.documentName.errors" class="invalid-feedback">
                                            <div *ngIf="cu.documentName.errors.required">Document Name is required</div>
                                            </div>
                                </div>
                                
                            </div> 
                            <div class="col-md-4">
                            <div class="form-group">
                                <label for="file">Upload Docs<span class="text-danger">*</span></label>
                                <div class="form-control">
                               <!-- <input class="hidden"  type="file" id="file"  (change)="handleFileInput($event.target.files)" class="form-control">-->
                                <input class="hidden" type="file"  id="file" #file (change)="handleFileInput($event.target.files);onUploadClick(seldocumentType)" multiple>
                                <button type="button"  class="mat-button actionButton borderR" (click)="file.click();">
                                    Add Attachments
                                    <!-- <mat-icon>attachment</mat-icon> -->
                                </button>
                                </div>
                            </div>  
                            </div>  
                        </div>
                        <div class="row">  
                            <div class="col-md-12 text-center form-error">  {{documnetErrorMsg}} </div>
                            <!--<div class="col-md-6">

                                
                            </div>
                           <div class="col-md-6">

                                <div class="form-group">
                                    <button type="button" class="btn btn-primary button-radious" (click)=onUploadClick(documentType.value)>Upload</button>
                                </div>
                            </div>-->
                            
                        </div>
              <!--  <div *ngIf="addcontactFlag">-->
                  
               <!-- </div>-->
                   <div class="row" *ngIf="documents.length > 0">

                            <div class="col-md-12 row-top_margin">
                                <table class="table table-hover">
                                    
          
                                    <thead>
                                        <tr>
                
                                           
                                            <th scope="col">Document Type</th>
                                        
                                            <th scope="col">Name</th>
                                        
                                            <th scope="col">Attached File Name</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table" *ngFor="let d of documents; let i = index">
                
                                            
                                            <td>{{d.documentTypeText}}</td>
                                            <td>{{d.name}}</td>
                                            <td>{{d.fileName}}</td>
                                            <td>
                                                <a href="#" data-toggle="modal" (click)="onDeleteDocumentMember(i)">
                                                    <i class="fa fa-trash-o text-PWC"></i>
                                                </a>
                
                                            
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                
                        </div>

                        <div class="row" *ngIf="clinetContacts.length > 0">

                            <div class="col-md-12 row-top_margin">
                                <table class="table table-hover">
                                    
          
                                    <thead>
                                        <tr>
                
                                           
                                            <th scope="col">Contact Person Name</th>
                                        
                                            <th scope="col">Designation</th>
                                        
                                            <th scope="col">Email Id</th>
                                            <th scope="col">Phone No</th>
                                            <th scope="col">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table" *ngFor="let c of clinetContacts; let i = index">
                
                                            
                                            <td>{{c.contactPersonName}}</td>
                                            <td>{{c.designation}}</td>
                                            <td>{{c.emailId}}</td>
                                            <td>{{c.phoneNo}}</td>
                                            <td>
                                                <a href="#" data-toggle="modal" (click)="onDeleteCitationMember(i)">
                                                    <i class="fa fa-trash-o text-PWC"></i>
                                                </a>
                
                                            
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                
                        </div>
                
                        <div class="row button-mergin">
                            
                            <div class="col-md-12">

                               
                          

                                <div class="form-group text-right">
                                    <button  type="button" mat-raised-button  (click)="openDialog()"  class="mat-button actionButton borderR">
                                        Add Contact Details
                                       
                                    </button>
                                   <!-- <button type="button"  class="mat-button actionButton borderR" (click)="removeCotactDiv();">
                                        Remove Contact Details
                                       
                                    </button>-->
                                    
                                    <button class="mat-button actionButton borderR">Submit</button>
                                   <!-- <a class="mat-button actionButton borderR" [routerLink]="['/dashboard']" >Back to Dashboard</a>-->
                                </div>
                            </div>
                    
                    </div>
                    <div class="row button-mergin">      
                        <div class="col-md-12">
                        <div class="form-group text-right">      
                       
                        </div>
                       </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>        














<!--<div class="container margnContain innerpageminheight">
  
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">
            <h3>Register Citation</h3>
        </li>
    </ol>
    <div class="col-md-12">
        <div class="alert alert-dismissible alert-warning" style="display:none;" id="divMessage">
            {{message}}
        </div>
    </div>

    <div class="container">
        <div class="registarion_box">
            <form [formGroup]="fgCitation" (submit)="onSubmit()">

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Project Name<span class="text-danger">*</span></label>
                            <input type="text" formControlName="projectName" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && cu.projectName.errors }" />
                                <div *ngIf="submitted && cu.projectName.errors" class="invalid-feedback">
                                    <div *ngIf="cu.projectName.errors.required">Project Name is required</div>
                                    <div *ngIf="cu.projectName.errors.pattern">Project Name is invalid!</div>
                                    <div *ngIf="cu.projectName.errors.minlength">Project Name. should be minimum 6 characters</div>
                                 </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Client Name<span class="text-danger">*</span></label>
                            <input type="text" formControlName="clientName" maxlength="30" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && cu.clientName.errors }" />
                                <div *ngIf="submitted && cu.clientName.errors" class="invalid-feedback">
                                <div *ngIf="cu.clientName.errors.required">Clinet Name is required</div>
                                <div *ngIf="cu.clientName.errors.pattern">Clinet Name is invalid!</div>
                                <div *ngIf="cu.clientName.errors.minlength">Client Name. should be minimum 6 characters</div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Project Start Date<span class="text-danger">*</span></label>
                            <input type="date" formControlName="startDate" maxlength="30" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && cu.startDate.errors }" />
                                <div *ngIf="submitted && cu.startDate.errors" class="invalid-feedback">
                                <div *ngIf="cu.startDate.errors.required">Project Start Date is required</div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Project End Date<span class="text-danger">*</span></label>
                            <input type="date" formControlName="endDate" maxlength="30" class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && cu.endDate.errors }" />
                                <div *ngIf="submitted && cu.endDate.errors" class="invalid-feedback">
                                <div *ngIf="cu.endDate.errors.required">Project End Date is required</div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-6">
                       
                            <div class="form-group">
                                <label>Valuation<span class="text-danger">*</span></label>

                          
                                    <input type="text" formControlName="projectValue" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && cu.projectValue.errors }" />
                                    <div *ngIf="submitted && cu.projectValue.errors" class="invalid-feedback">
                                        <div *ngIf="cu.projectValue.errors.required">Valuation is required</div>
                                        <div *ngIf="cu.projectValue.errors.pattern">Valuation is invalid!</div>
                                        <div *ngIf="cu.projectValue.errors.minlength">Valuation should be minimum 6 digits</div>
                                        </div>

                            </div>
                        

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Currency<span class="text-danger">*</span></label>
                            <select class="form-control" [ngClass]="{ 'is-invalid': submitted && cu.currency.errors }"
                                formControlName="currency">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let c of currencies" [value]="c.valueId">{{c.description}}
                                </option>
                              

                            </select>
                            <div *ngIf="submitted && cu.currency.errors" class="invalid-feedback">
                                <div *ngIf="cu.currency.errors.required">Currency is required</div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="row">


                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Region</label>
                            <select class="form-control"
                                formControlName="region">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let r of regions" [value]="r.valueId">{{r.description}}
                                </option>


                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Country</label>
                            <select class="form-control"
                                formControlName="country">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let c of countries" [value]="c.countryId">{{c.name}} </option>



                            </select>
                        </div>
                    </div>
                </div>
                    <div class="row">  
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Funding Agency</label>
                            <select class="form-control"
                              
                                formControlName="fundingAgency">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let f of fundingAgencies" [value]="f.fundingAgencyId">{{f.name}}
                                </option>



                            </select>
                        </div>
                    </div>
                  
                    
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-9">
                                    <label>Is network firm oppotunity?</label>
                                </div>
                               
                                <div class="form-control" style="margin-left: 5%;">
                                    <input type="checkbox"
                                        
                                        formControlName="isNetworkFirmOpportunity">
                                </div>
                            </div>


                        </div>
                    </div>
                </div>


                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sub-SBU</label>
                            <select class="form-control" 
                                formControlName="subSbu" (change)="onChangeSubSbu($event)">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let s of subSbus" [value]="s.subSBUId">{{s.name}} </option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Project Type</label>
                            <select class="form-control"
                                
                                formControlName="projectType">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let p of projectTypes" [value]="p.projectTypeId">{{p.name}} </option>



                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Lead Firm Country</label>
                            <select class="form-control"
                                
                                formControlName="leadFirmCountry">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let c of countries" [value]="c.countryId">{{c.name}} </option>



                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group">
                                <label>PwC India Value<span class="text-danger">*</span></label>

                                <input type="number" class="form-control quantity" maxlength="10" id="ContactNumber"
                                    oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                    formControlName="pwcIndiaValue"
                                    [ngClass]="{ 'is-invalid': submitted && cu.pwcIndiaValue.errors }" />

                                    <div *ngIf="submitted && cu.pwcIndiaValue.errors" class="invalid-feedback">
                                        <div *ngIf="cu.pwcIndiaValue.errors.required">PwC India Value is required</div>
                                        </div>
                            </div>
                        </div>

                    </div>
                </div>
               
                <div class="row">
                    <div class="col-md-6 ">

                        <div class="form-group">
                            <label>Document Type<span class="text-danger">*</span></label>
                            <select class="form-control" #documentType
                                [ngClass]="{ 'is-invalid': submitted && cu.documentType.errors }"
                                formControlName="documentType">
                                <option value="" disabled selected hidden>Select</option>

                                <option *ngFor="let d of documentTypes; let i=index;" [value]="d.valueId">{{d.description}} </option>

                            </select>
                            <div *ngIf="submitted && cu.documentType.errors" class="invalid-feedback">
                                <div *ngIf="cu.documentType.errors.required">Document Type is required</div>
                                </div>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label>Document Name<span class="text-danger">*</span></label>
                            <input type="text" formControlName="documentName"  class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && cu.documentName.errors }" />
                                <div *ngIf="submitted && cu.documentName.errors" class="invalid-feedback">
                                    <div *ngIf="cu.documentName.errors.required">Document Name is required</div>
                                    </div>
                        </div>
                        
                    </div>     
                </div>
                <div class="row">  
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="file">Choose File<span class="text-danger">*</span></label>
                            <input type="file" id="file"  (change)="handleFileInput($event.target.files)" class="form-control">
                            
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <button type="button" class="btn btn-primary button-radious" (click)=onUploadClick(documentType.value)>Upload</button>
                        </div>
                    </div>
                    
                </div>
                <div class="row" *ngIf="documents.length > 0">

                    <div class="col-md-12 row-top_margin">
                        <table class="table table-hover">
                            <thead>
                                <tr>
        
                                    <th scope="col">Document Type Id</th>
                                    <th scope="col">Document Type</th>
                                   
                                    <th scope="col">Name</th>
                                
                                    
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="table" *ngFor="let d of documents; let i = index">
        
                                    <td>{{d.documentType}}</td>
                                    <td>{{d.documentTypeText}}</td>
                                    <td>{{d.name}}</td>
                                    <td>
                                        <a href="#" data-toggle="modal" (click)="onDeleteDocumentMember(i)">
                                            <i class="fa fa-trash-o text-PWC"></i>
                                        </a>
        
                                       
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
        
                </div>



          
                <div class="row">
                    <div class="col-md-12 ">

                        <div class="form-group text-center">
                            <button class="btn btn-primary button-radious">Submit</button>
                        </div>
                    </div>
              
              </div>
            </form>

        

        </div>
        <div class="row">      
            <div class="col-md-12">
            <div class="form-group text-center">      
            <a class="btn btn-primary button-radious" [routerLink]="['/dashboard']" >Back to Dashboard</a>
            </div>
           </div>
        </div>
    </div>



</div>-->