
<div class="container margnContain innerpageminheight">
   <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item active"><h3>Acknowledgement</h3></li>
      </ol>-->
    <div class="col-md-12"> <div class="alert alert-dismissible alert-danger" style="display:none;" id="divSuccessLogin">        
            
              </div></div>
    <div class="container " >
            <!-- <div class="col-md-4" > 
    
        </div> -->
    <div class="row d-flex justify-content-center"> 
            <div class="col-md-12">                <div>
               
                        <div class="col-md-12"> 

                                

                                
                                <div class="message-box">Citation Submitted Successfully.</div>
                                
                                
                        </div>
      
      
                    </div>
                    
                
            </div>
          </div>

         <!-- <div class="row">      
            <div class="col-md-12">
            <div class="form-group text-center">      
            <a class="btn btn-primary button-radious" [routerLink]="['/dashboard']" >Back to Dashboard</a>
            </div>
           </div>
        </div>-->

        </div>
          
        
    
    </div>