

    <!-- start header -->
    <header id="navigation">
       
        <div class="navbar navbar-expand-lg animated fadeIn main-nav" role="banner">
            <div class="container">
               
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
            </button>
           
           <img class="img-fluid" src="../assets/img/chandigarh-logo.png" alt="logo">
              <!--<h2>Doors</h2>-->
              <h1 class="headermsg text-center">Welcome To The Ctitation Application</h1>
               
               
              <div class="row"></div>
          
                  <div *ngIf="!loggedInUserName">
                    <a [routerLink]="['/dashboard']">Login</a>
                  </div>
                  
                  <div class="row header-text-color" *ngIf="loggedInUserName">
                    <a class="header-text-color" routerLink="/registercitation">
                      Create Citation  &nbsp; &nbsp; |  &nbsp; &nbsp;
                  </a>
                  <a class="header-text-color" routerLink="/searchcitation">
                    Search Citation  &nbsp; &nbsp; | &nbsp;&nbsp;
                   </a>
                        Welcome {{loggedInUserName}} | &nbsp;&nbsp;
                 
                    <a (click)=onLogout()  routerLink="/login"> Logout</a>     

                   
                    

                  </div>
                 
</div>
        </div>
      
    </header><!--/#navigation--> 
      <!-- end header -->
      
   
      <router-outlet>
        
      </router-outlet>
    
      
    
      <footer id="footer" >
        <div class="container text-center wow zoomIn" data-wow-duration="700ms" data-wow-delay="300ms">
          <p>&copy; 2019. All rights reserved.</p>
        </div>
       
          
        
        
      </footer><!--/#footer--> 
    
          
        